<div class="mb-4">
  <%# link_to 'スポット一覧へ', spots_path, class: 'text-blue-600' %>
</div>
<div
  data-controller="homes"
  data-homes-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
  data-homes-map-id-value="<%= ENV['GOOGLE_MAPS_MAP_ID'] %>"
  data-homes-coordinate-value="<%= @coordinate.to_json %>"
  data-homes-address-value="<%= @address_name %>"
  data-homes-test-value="<%= @test.to_json %>"
  class=""
>
  <div id="map" data-homes-target="map" style="width: 500px; height: 500px;"></div>
  <div>
  </div>
  <button type="button" data-action="click->homes#getCurrentLocation"
    class="bg-orange-400 text-white py-2 px-4 m-4 border-2 border-black rounded-2xl cursor-pointer"
  >現在地取得</button>
</div>
